VITE_SSO_CLIENT_ID=cf00cae4d6135051875ce6990bf2e5ea
VITE_SSO_CLIENT_SECRET=GANTI_DENGAN_CLIENT_SECRET
VITE_SSO_REDIRECT_URI=http://localhost:5173/callback
VITE_SSO_AUTHORIZE_URL=http://localhost:3002/authorize
VITE_SSO_TOKEN_URL=http://localhost:3001/oauth/token
VITE_SSO_USERINFO_URL=http://localhost:3001/oauth/userinfo
VITE_SSO_LOGOUT_URL=http://localhost:3001/oauth/logout
