PUBLIC_SSO_CLIENT_ID=cf00cae4d6135051875ce6990bf2e5ea
PUBLIC_SSO_CLIENT_SECRET=GANTI_DENGAN_CLIENT_SECRET
PUBLIC_SSO_REDIRECT_URI=http://localhost:5173/callback
PUBLIC_SSO_AUTHORIZE_URL=http://localhost:3002/authorize
PUBLIC_SSO_TOKEN_URL=http://localhost:3001/oauth/token
PUBLIC_SSO_USERINFO_URL=http://localhost:3001/oauth/userinfo
PUBLIC_SSO_LOGOUT_URL=http://localhost:3001/oauth/logout
